.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Environment variables
.env

# Databases
*.db
*.sqlite3
docker-data/

# Instance folder
instance/

# Testing
.pytest_cache/
htmlcov/

# Build artifacts
*.egg-info/
dist/
build/

# Logs
*.log

# VS Code
.vscode/
